@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300;500&display=swap');
:root {
  --heading-font: 'Itim', cursive;
  --primary-background: #59c3c3;
  --secondary-background: #52489c;
  --primary-color: #ebebeb;
  --secondary-color: #cad2c5;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  /* background: var(--primary-background); */
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3494e6,
    #ec6ead
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3494e6,
    #ec6ead
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--primary-color);
}
.logo {
  font-family: var(--heading-font);
  letter-spacing: -3px;
  margin: 30px;
  font-size: 3.5em;
  /* color: var(--primary-color); */
}
.header {
  display: flex;
  /* justify-content: space-between; */
}
.header p {
  font-size: 1.5em;
  margin-left: 35px;
  font-weight: 500;
  max-width: 900px;
}
.header img {
  height: 200px;
  transform: rotate(25deg);
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 40px;
  margin-right: 120px;
}
.searchArea {
  position: relative;
  width: 30%;
  height: 50px;
  margin: 25px auto 0;
}

.searchArea input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 15px;
  padding-right: 75px;
  background: transparent;
}
input:focus {
  outline: none;
}

.searchArea .searchBtn {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 8px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  border: none;
  transition: 0.5s;
  /* border-left: 0.5px solid black; */
}
.searchBtn:hover {
  transform: translateY(-5px);
}
.fa-search {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.nominationWrapper h2 {
  margin: 30px;
  font-size: 2em;
  font-family: var(--heading-font);
}

.nominationRow {
  width: 95%;
  margin: 20px auto 10px auto;
  display: flex;
}

.card {
  width: 20%;
  height: 250px;
  margin: 0 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6); /* this adds the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); this adds the "card" effect */
  border-radius: 15px;
  text-align: center;
  /* background: silver; */
  /* filter: brightness(50%); */
}
.card button {
  float: left;
  border: none;
  transition: 0.3s;
  margin-top: 5px;
  margin-left: 5px;
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
}
.card button:hover {
  letter-spacing: 1px;
}
.card img {
  margin: 5px;
  width: 95%;
  height: 110px;
  border-radius: 8px;
}
