@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300;500&display=swap');
:root {
  --heading-font: 'Itim', cursive;
  --primary-background: #59c3c3;
  --secondary-background: #52489c;
  --primary-color: #ebebeb;
  --secondary-color: #cad2c5;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  /* background: var(--primary-background); */
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3494e6,
    #ec6ead
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3494e6,
    #ec6ead
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--primary-color);
}
.logo {
  font-family: var(--heading-font);
  letter-spacing: -3px;
  margin: 30px;
  font-size: 3.5em;
  /* color: var(--primary-color); */
}
.header {
  display: flex;
  /* justify-content: space-between; */
}
.header p {
  font-size: 1.5em;
  margin-left: 35px;
  font-weight: 500;
  width: 65%;
}
.header img {
  height: 200px;
  transform: rotate(25deg);
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-top: -40px;
  /* position: absolute;
  right: 0;
  top: 0;
  margin-top: 40px;
  margin-right: 120px; */
}
.searchArea {
  position: relative;
  width: 30%;
  height: 35px;
  margin: 25px auto 0;
}

.searchArea input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 0 20px; */
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
  padding-right: 67px;
  padding-left: 15px;
  background: transparent;
  line-height: 1.2em;
}
input:focus {
  outline: none;
}

.fa-times {
  font-size: 1.5em;
}
.clearSearchBtn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 32px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  border: none;
  border-right: 1px dashed black;
  padding-right: 25px;
  transition: 0.5s;
  color: red;
}
.display {
  display: none;
}

.fa-search {
  font-size: 1.3em;
}

.searchBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1.5px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 2;
  border: none;

  transition: 0.5s;
  /* border-left: 0.5px solid black; */
}
.searchBtn:hover {
  transform: translateY(-5px);
}

.nominationWrapper h2 {
  margin: 30px;
  font-size: 2em;
  font-family: var(--heading-font);
}

.nominationRow {
  width: 95%;
  margin: 20px auto 10px auto;
  display: flex;
  transition: 0.9s;
}
.liText {
  width: 70%;
}

.nominateBtn {
  background: gold;
  float: right;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* display: flex; */
  /* justify-content: center;
  align-items: flex-end; */
  font-weight: bold;
  /* margin-left: 15px; */
}

.nominateBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-5px);
}
.nominateBtn:focus {
  outline: none;
}
.nominateBtn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: lightgray;
}
.resultsWrapper {
  width: 30%;
  margin: 10px auto;
}
li {
  /* margin: auto;
  border-bottom: 1px dotted black;
  padding: 10px; */
  /* background-color: #fff; */
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  /* justify-content: left; */
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;

  /* word-wrap: break-word;
  white-space: normal; */
}
ul {
  margin: auto;
  position: absolute;
  background: black;
  /* filter: blur(8px); 
  opacity: 0.5;*/
  height: 225px;
  width: 410px;
  list-style: none;
  /* margin-top: 5px; */
  padding: 0;
  overflow: auto;
  /* overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; */
  overflow-y: scroll;
}
ul::-webkit-scrollbar {
  /* width: 0 !important;
  display: none; */
  width: 0.25rem;
}
ul::-webkit-scrollbar-track {
  background: red;
}
ul::-webkit-scrollbar-thumb {
  background: orange;
}

.card {
  width: 20%;
  height: 250px;
  margin: 0 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6); /* this adds the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); this adds the "card" effect */
  border-radius: 15px;
  text-align: center;
  /* background: silver; */
  /* filter: brightness(90%); */
  background: rgba(0, 0, 0, 0.2);
}

.card button {
  float: left;
  border: none;
  width: 100%;
  transition: 0.3s;
  /* margin-top: 5px; */
  /* margin-left: 15px; */
  background: red;
  padding: 5px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-transform: uppercase;
  transition: 0.2s;
}
.card button:hover {
  letter-spacing: 1.5px;
}
.card button:focus {
  outline: none;
}
.card img {
  margin: 10px;
  width: 85%;
  height: 110px;
  border-radius: 8px;
}
