@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* 
    font to be used for headings
    font-family: 'Itim', cursive; 
    */
}
